<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo left">Recipe Book</a>
    <ul class="right">
      <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
      <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
      <li>
        <a
          class="dropdown-trigger"
          #manageDropdown
          data-target='manageDropdown'
          (click)="openManage()"
        >
          Manage
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<ul class="dropdown-content" id="manageDropdown">
  <li>
    <a (click)="onSaveData()">Save Data</a>
  </li>
  <li>
    <a (click)="onFetchData()">Fetch Data</a>
  </li>
</ul>
