<ul class="dropdown-content">
  <li><a href="#!">Save Data</a></li>
  <li><a href="#!">Fetch Data</a></li>
  <li class="divider"></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo left">Recipe Book</a>
    <ul class="right">
      <li><a href="#">Recipes</a></li>
      <li><a href="#">Shopping List</a></li>
      <li>
        <a
          class="dropdown-trigger"
          href="#!"
        >
          Dropdown
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
