<div class="row">
  <div class="col s12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col s12 btn-group">
          <button
            type="submit"
            appTypeBtn="submit"
            [disabled]="!recipeForm.valid"
          >Save</button>
          <button
            type="button"
            appTypeBtn="danger"
            (click)="onCancel()"
          >Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <label class="active" for="name">First Name</label>
          <input
            id="name"
            type="text"
            formControlName="name"
            class="validate"
          >
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <label class="active" for="imagePath">Image URL</label>
          <input
            id="imagePath"
            #imagePath
            formControlName="imagePath"
            type="text"
            class="validate"
          >
        </div>
      </div>

      <div class="row">
        <div class="col 12">
          <img [src]="imagePath.value">
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <label class="active" for="description">Description</label>
          <textarea
            id="description"
            formControlName="description"
            type="text"
            class="materialize-textarea"
          ></textarea>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12" formArrayName="ingredients">
          <div
            class="row"
            *ngFor="let ingredientCtrl of formData.controls; let i = index"
            [formGroupName]="i">

            <div class="col s7">
              <input
                type="text"
                class="validate"
                formControlName="name"
              >
            </div>

            <div class="col s3">
              <input
                type="number"
                class="validate"
                formControlName="amount"
              >
            </div>

            <div class="col s2">
              <button
                type="button"
                appTypeBtn="danger"
                (click)="onDeleteIngredient(i)"
              >X</button>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <button
                type="button"
                appTypeBtn="submit"
                (click)="onAddIngredient()"
              >AddIngredient</button>
            </div>
          </div>

        </div>
      </div>

    </form>
  </div>
</div>
