.card-image {
  .fixed-action-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-50%, 50%);
  }
}
.dropdown-own {
  position: relative;

  .open {
    + .dropdown-content {
      position: absolute;
      top: 38px;
      left: 0;
      display: block;
      opacity: 1;
    }
  }
}

.float-list {
  li[data-title] {
    position: relative;

    &:hover:after {
      opacity: 1;
      transition: all 0.1s ease 0.5s;
      visibility: visible;
    }

    &:after {
      content: attr(data-title);
      position: absolute;
      bottom: -90%;
      left: 0;
      opacity: 0;
      padding: 1px 5px 2px 5px;
      white-space: nowrap;
      background-color: var(--home-color);
      border: 1px solid var(--primary-color);
      border-radius: 4px;
      visibility: hidden;
    }
  }
}
