<div class="row">
  <div class="col s12">
    <img src="" alt="" class="avatar">
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h1>Recipe Name</h1>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div>
      <a class="waves-effect waves-light btn">
        Manage Recipe
        <span class="caret"></span>
      </a>

      <!-- Dropdown Trigger -->
      <a class='dropdown-trigger btn waves-effect waves-light' href='#' data-target='dropdown1'>Drop Me!</a>

      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">To Shopping list</a></li>
        <li><a href="#!">Edit Recipe</a></li>
        <li><a href="#!">Delete recipe</a></li>
      </ul>

    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    Description
  </div>
</div>
<div class="row">
  <div class="col s12">
    Ingredients
  </div>
</div>
