<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}">
        <span class="card-title">{{recipe.name}}</span>

        <div
          class="fixed-action-btn"
          #floatingActionBtn
          (click)="showFloatingBtn()"
        >
          <a class="btn-floating btn-large red">
            <i class="large material-icons">settings_ethernet</i>
          </a>
          <ul class="float-list">
            <li data-title="To Shopping list">
              <a class="btn-floating blue darken-1">
                <i class="material-icons">list</i>
              </a>
            </li>
            <li data-title="Edit Recipe">
              <a class="btn-floating green darken-1">
                <i class="material-icons">mode_edit</i>
              </a>
            </li>
            <li data-title="Delete recipe">
              <a class="btn-floating red">
                <i class="material-icons">delete</i>
              </a>
            </li>
          </ul>
        </div>

        <!--<a -->
          <!--class="btn-floating halfway-fab waves-effect waves-light red"-->
        <!--&gt;-->
          <!--<i class="material-icons">add</i>-->
        <!--</a>-->

      </div>
      <div class="card-content">
        <p>{{recipe.description}}</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col s12">
    Ingredients
  </div>
</div>
