<app-header></app-header>
<div class="container">


  <!--&lt;!&ndash; Dropdown Trigger &ndash;&gt;-->
  <!--<a-->
    <!--class='dropdown-trigger btn'-->
    <!--#dropdown1-->
    <!--(click)="openDropdown()"-->
    <!--data-target='dropdown1'>Drop Me!</a>-->

  <!--&lt;!&ndash; Dropdown Structure &ndash;&gt;-->
  <!--<ul id="dropdown1"  class='dropdown-content'>-->
    <!--<li><a href="#!">one</a></li>-->
    <!--<li><a href="#!">two</a></li>-->
  <!--</ul>-->


  <app-recipes></app-recipes>
  <app-shopping-list></app-shopping-list>

</div>
